{% extends 'base.html' %}
{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">{{ selected_category }}</a></li>
        </ol>
    </nav>
    <div class="row">
        {% for item in product %}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="{{ item.image.url }}" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="{{ item.get_absolute_url }}">{{ item.name }}</a>
                        </h4>
                        <h5>{{ item.price }} ₽</h5>
                        <p class="card-text">{{ item.description }}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}